<div class="container mt-4">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-6">
      <h2>¿Quiénes somos en hackathoneando?</h2>
      <p align="justify">
        Somos un grupo de profesionales apasionados en la tecnología y en encontrar soluciones a problemas en las
        compañías con varias posibilidades que a veces no son tan obvias.

        Nos gustan los eventos tecnológicos y concursos ya que abren muchas posibilidades a problemas que no se habían
        considerado.

        Nuestra experiencia en diferentes campos de la tecnología nos da la ventaja de poder responder a las
        necesidades de nuestros clientes ya sea que buscan una solución pequeña o necesitan encontrar respuesta a un
        problema mas complejo.

        Con oficinas en Miami y en Bogotá tenemos acceso a clientes en todos puntos de América Latina.
      </p>
    </div>
  </div>
</div>

<section id="developers" class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col text-center text-uppercase">
        <small>Conoce a los</small>
        <h3>Desarrolladores</h3>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card">
          <img class="card-img-top" src="assets/developers/jhonatan.jpg" alt="Foto de Sacha">
          <div class="card-body">
            <div class="badges">
              <span class="badge badge-warning">JavaScript</span>
              <span class="badge badge-info">React</span>
            </div>
            <h5 class="card-title">Jhonatan Torres F.</h5>
            <p class="card-text">Vivamus quam mi, egestas eu metus id, mollis suscipit ipsum. In vel mollis mauris.
              Nunc id sem a lacus tincidunt pretium in in urna. Nam mi nisi, tincidunt ac tincidunt id, fermentum at
              metus.</p>
            <div class="row">
              <i class="fab fa-facebook-f col-1 offset-8"></i>
              <i class="fab fa-linkedin-in col-1"></i>
              <i class="fab fa-github col-1"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card">
          <img class="card-img-top" src="assets/developers/jhonatan.jpg" alt="Foto de Sacha">
          <div class="card-body">
            <div class="badges">
              <span class="badge badge-warning">JavaScript</span>
              <span class="badge badge-info">React</span>
            </div>
            <h5 class="card-title">Santiago Velandia</h5>
            <p class="card-text">Vivamus quam mi, egestas eu metus id, mollis suscipit ipsum. In vel mollis mauris.
              Nunc id sem a lacus tincidunt pretium in in urna. Nam mi nisi, tincidunt ac tincidunt id, fermentum at
              metus.</p>
            <div class="row">
              <i class="fab fa-facebook-f col-1 offset-8"></i>
              <i class="fab fa-linkedin-in col-1"></i>
              <i class="fab fa-github col-1"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card">
          <img class="card-img-top" src="assets/developers/jhonatan.jpg" alt="Foto de Sacha">
          <div class="card-body">
            <div class="badges">
              <span class="badge badge-secondary">Negocios</span>
              <span class="badge badge-danger">Startups</span>
            </div>
            <h5 class="card-title">Andrés Sopó</h5>
            <p class="card-text">Vivamus quam mi, egestas eu metus id, mollis suscipit ipsum. In vel mollis mauris.
              Nunc id sem a lacus tincidunt pretium in in urna. Nam mi nisi, tincidunt ac tincidunt id, fermentum at
              metus.</p>
            <div class="row">
              <i class="fab fa-facebook-f col-1 offset-8"></i>
              <i class="fab fa-linkedin-in col-1"></i>
              <i class="fab fa-github col-1"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card">
          <img class="card-img-top" src="assets/developers/jhonatan.jpg" alt="Foto de Sacha">
          <div class="card-body">
            <div class="badges">
              <span class="badge badge-secondary">Negocios</span>
              <span class="badge badge-danger">Startups</span>
            </div>
            <h5 class="card-title">Nicolás P. Arias</h5>
            <p class="card-text">Vivamus quam mi, egestas eu metus id, mollis suscipit ipsum. In vel mollis mauris.
              Nunc id sem a lacus tincidunt pretium in in urna. Nam mi nisi, tincidunt ac tincidunt id, fermentum at
              metus.</p>
            <div class="row">
              <i class="fab fa-facebook-f col-1 offset-8"></i>
              <i class="fab fa-linkedin-in col-1"></i>
              <i class="fab fa-github col-1"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>