<section id="developers" class="mt-4">
  <div class="container">
    <div class="row pb-5">
      <div class="col text-center">
        <h1>Hackathoneando's Blog</h1>
      </div>
    </div>
    <div class="row">
      <div class="col text-center text-uppercase">
        <small>discover the best of</small>
        <h3>Technology</h3>
      </div>
    </div>
    <div class="row mt-4">

      <div class="col-12  mb-4">
        <div class="card">
          <div class="row">
            <div class="col-12 col-md-6">
              <img class="card-img-top" src="assets/blog/post1.webp" alt="Foto de Sacha">
            </div>
            <div class="col">
              <div class="card-body">
                <small><b>Hackathoneando</b> hace 1 semana</small>
                <h4 class="card-title">Comenzar a programar</h4>
                <hr>
                <p class="card-text">¿Quieres emprezar en este maravilloso mundo de la programación, pero no sabes por
                  donde iniciar?</p>
                <div class="d-flex justify-content-end align-items-end">
                  <span>24 likes</span>
                  <i class="fas fa-heart align-bottom ml-2"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12  mb-4">
        <div class="card">
          <div class="row">
            <div class="col-12 col-md-6">
              <img class="card-img-top" src="assets/blog/post1.webp" alt="Foto de Sacha">
            </div>
            <div class="col">
              <div class="card-body">
                <small><b>Hackathoneando</b> hace 1 semana</small>
                <h4 class="card-title">Comenzar a programar</h4>
                <hr>
                <p class="card-text">¿Quieres emprezar en este maravilloso mundo de la programación, pero no sabes por
                  donde iniciar?</p>
                <div class="d-flex justify-content-end align-items-end">
                  <span>24 likes</span>
                  <i class="fas fa-heart align-bottom ml-2"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12  mb-4">
        <div class="card">
          <div class="row">
            <div class="col-12 col-md-6">
              <img class="card-img-top" src="assets/blog/post1.webp" alt="Foto de Sacha">
            </div>
            <div class="col">
              <div class="card-body">
                <small><b>Hackathoneando</b> hace 1 semana</small>
                <h4 class="card-title">Comenzar a programar</h4>
                <hr>
                <p class="card-text">¿Quieres emprezar en este maravilloso mundo de la programación, pero no sabes por
                  donde iniciar?</p>
                <div class="d-flex justify-content-end align-items-end">
                  <span>24 likes</span>
                  <i class="fas fa-heart align-bottom ml-2"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12  mb-4">
        <div class="card">
          <div class="row">
            <div class="col-12 col-md-6">
              <img class="card-img-top" src="assets/blog/post1.webp" alt="Foto de Sacha">
            </div>
            <div class="col">
              <div class="card-body">
                <small><b>Hackathoneando</b> hace 1 semana</small>
                <h4 class="card-title">Comenzar a programar</h4>
                <hr>
                <p class="card-text">¿Quieres emprezar en este maravilloso mundo de la programación, pero no sabes por
                  donde iniciar?</p>
                <div class="d-flex justify-content-end align-items-end">
                  <span>24 likes</span>
                  <i class="fas fa-heart align-bottom ml-2"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>